
* {
	font-size: 20px;
	font-family: "montserrat";
}



#centerize {
	min-height: 100vh;
	justify-content: center;
	align-items: center;
    
}

#block {
	position: absolute;

	width: 100%;

	overflow: hidden;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
	/*background-image: url(https://im5.ezgif.com/tmp/ezgif-5-822fb3fdfb34.gif);*/

#block1 {

	background-size: 100% 100%;
	background-repeat: round;
	width: 100%
	background-color: #DDDDDD;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

#block2 {
	height: 100vh;
	background-color: white;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

#block3 {
	height: 100vh;
	background-color: #DDD;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}



.card:hover .card-img {

  opacity: 0.3;

}

.card {
	opacity: 1;
	transition: 1s ease;
	backface-visibility: hidden;
}

.text-center {
	justify-content: center;
	align-items: center;
}

#Stephen {
	font-size: 5rem;
}

h1 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

#navbar {
 
}

.card-text { 
    display: none; 
}

.card-text:hover .open{
    display: inline;
    	font-size: 2rem;
}


.card-text:hover {
    text-align: center;
    	font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}